@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
// @import '@abw/react-night-and-day/styles/night-and-day.css';

@import "config/all.scss";
@import "@abw/badger-css/styles/badger.scss";
@import "@abw/react-night-and-day/styles/night-and-day.css";
@import "modules/all.scss";

html {
  font-family: $font-sans;
}

img.logo {
  width: 200px;
}
a.read-on {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.badger-form {
  --badger: var(--brand-30);
  --form: var(--brand-60);
  .black {
    fill: black;
  }
  .white {
    fill: white;
  }
  .badger {
    fill: var(--badger);
  }
  .form {
    fill: var(--form);
  }
}

#{$dark-theme} {
  color-scheme: dark;
  .badger-form {
    --badger: var(--brand-60);
    --form: var(--brand-70);
  }
}
