:where(html) {
  --toc-back:               var(--grey20-100);
  --toc-border:             var(--grey20-80);
}
#{$dark-theme} {
  --toc-back:               var(--grey20-5);
  --toc-border:             var(--grey20-25);
}
