.alert {
  --code-back: var(--color-85);
  --code-border: var(--color-80);
  --code-text: var(--color-20);
  --icon-fore: var(--color-90);
  --icon-back: var(--color-60);
  --inner-ring: var(--color-80);
  --outer-ring: var(--color-70);
  a:has(code) {
    text-decoration: none !important;
  }
  .side-icon {
    font-size: 2rem;
    margin: 1rem 2rem 1rem 1rem;
    background-color: var(--icon-fore);
    color: var(--icon-back);
    box-shadow:
      0 0 0 5px var(--inner-ring),
      0 0 0 10px var(--outer-ring);
    border-radius: 50%;
  }
}
#{$dark-theme} .alert {
  --code-back: var(--color-15);
  --code-border: var(--color-20);
  --code-text: var(--color-80);
  --icon-fore: var(--color-10);
  --icon-back: var(--color-40);
  --inner-ring: var(--color-20);
  --outer-ring: var(--color-30);
}