// main body: 80rem
// sidebar: 20rem;

#app {
  position: relative;
  width: 100%;
  // max-width: var(--combined-width);
  margin: 0 auto;
  // background-color: var(--main-back);
  // border: 1px solid red;

  height: calc(100vh - #{$header-height});
  padding: 0;
  display: flex;
  & > aside,
  & > main {
    transition: all 0.2s;
    overflow-y: scroll;
    transition: background-color $theme-transition ease-in-out;
  }
  & > aside {
    width: max(var(--side-width), var(--side-total));
    // width: var(--side-width);
    padding: var(--side-padding);
    padding-left: max(var(--side-padding), var(--half-pad));
    // flex-basis: var(--sidebar-width);
    // margin-left: var(--sidebar-margin-left);
    margin-left: var(--side-margin);
    border-right: 1px solid var(--side-border);
    // border-left: 1px solid var(--side-border);
    // border: 1px solid green;
    background-color: var(--side-back);
    box-shadow:
      inset 0 6px 4px -4px var(--top-shadow),
      inset -2px 0 2px var(--side-shadow),
      -2px 0 3px var(--side-shadow);
    transition:
      margin-left var(--side-transition),
      background-color $theme-transition ease-in-out;
  }
  & > main {
    // border: 1px solid blue;
    margin-left: 0;
    // flex-basis: 100%;
    width: var(--main-total);
    padding: 1.5rem 3rem 3rem 3rem;
    padding-top: 3rem;
    padding-right: max(var(--main-padding), var(--main-pad-right));
    // padding-left: max(var(--main-padding), var(--main-pad-left));
    // padding-left: var(--main-padding);
    padding-left: max(var(--main-padding), var(--main-pad-left));

    // box-shadow:  2px 4px 6px var(--top-shadow);
    background-color: var(--main-back);
    transition:
      width var(--side-transition),
      padding-left var(--side-transition),
      padding-right var(--side-transition);

    &.wide {
      margin-left: 0;
      flex-basis: 100%;
    }
  }
  .Xsection {
    --text-color: var(--brand-30);
    --line-color: var(--grey20-70);
    --background-color: var(--grey20-95);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 2rem 0 1rem -1.5rem;
    color: var(--text-color);
    background-color: var(--background-color);
    border-left: 0.25rem solid var(--line-color);
    padding: 0.5rem 1rem;
  }
}

#app > aside {
  details.menu {
    border: 0;
    margin-bottom: 0rem;
    &[open] {
      margin-bottom: 0.5rem;
    }
    summary {
      // margin-bottom: 0.25rem;
      margin-bottom: 0;
      color: var(--menu-head);
    }
    ul.menu {
      padding: 0;
      margin: 0 0 0.5em 0;
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        &.section {
          padding-left: 0.5rem;
          h4 {
            font-size: $size-small;
            margin: 0 0 0.25rem 0;
            cursor: pointer;
            font-weight: 500;
          }
          ul li a {
            // font-size: 1em;
            line-height: 1.25;
          }
        }
      }
    }
    a {
      display: block;
      font-size: $size-small;
      line-height: 1.25;
      margin-bottom: 0.25em;
      padding: 0.25rem 0.5rem;
      color: var(--menu-text);
      background-color: var(--menu-back);
      transition: all 0.5s;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        transition: all 0.2s;
        color: var(--menu-hover-text);
        background-color: var(--menu-hover-back);
      }
      &.active {
        color: var(--menu-active-text);
        background-color: var(--menu-active-back);
      }
      code {
        padding: 0;
        background-color: transparent;
        border: 0;
      }
    }
    .menu {
      font-size: 0.8rem;
      padding-left: 0.5rem;
      margin-bottom: 0;
      a {
        line-height: 1.5;
      }
    }
    .toc {
      font-size: 0.8em;
      margin-left: 0.5rem;
      padding-left: 0rem;
      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
      li:not(.heading) {
        padding-left: 0.5rem;
        border-radius: 4px;
        color: var(--menu-item-text);
        background-color: var(--submenu-back);
        line-height: 1.5;
        margin-bottom: 0.25rem;
        &:hover {
          transition: all 0.2s;
          color: var(--menu-hover-text);
          background-color: var(--menu-hover-back);
          cursor: pointer;
        }
        &:active {
          color: var(--menu-active-text);
          background-color: var(--menu-active-back);
        }
      }
      li.section {
        h4 {
          font-size: $size-smaller;
          margin: 0 0 0.25rem 0;
          cursor: pointer;
        }
      }
    }
  }
}

#{$dark-theme} {
  #app .section {
    --text-color: var(--grey20-80);
    --line-color: var(--grey40-40);
    --background-color: var(--grey-30);
  }
}