.prev-next-link {
  --color: var(--grey40-40);
  --border-color: var(--grey40-50);
  --heading-color: var(--grey40-30);
  --background-color: var(--grey20-95);
  --border-hover: var(--brand-50);
  --background-hover: var(--grey40-100);
  min-width: 20ch;
  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  margin-top: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  box-shadow: var(--shadow-2);
  &.XXprev {
    padding-left: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    text-align: right;
  }
  &.XXnext {
    text-align: right;
    padding-right: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }
  h4 {
    transition: all 0.5s;
    // color: hsl($dev-hue, 80%, 40%);
    color: var(--heading-color);
    margin: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  &:hover {
    // background-color: hsl($hover-hue, 40%, 95%);
    // border: 1px solid hsl($hover-hue, 50%, 80%);
    background-color: var(--background-hover);
    border-color: var(--border-hover);
    h4 {
      // color: hsl($hover-hue, 70%, 40%);
      color: var(--heading-hover);
    }
  }
}
#{$dark-theme} {
  .prev-next-link {
    --color: var(--grey40-40);
    --border-color: var(--grey40-25);
    --heading-color: var(--grey40-70);
    --background-color: var(--grey20-20);
    --border-hover: var(--brand-30);
    --background-hover: var(--grey40-10);
  }
}